@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.blur-text {
  text-shadow: 0 0 6px rgba(212, 178, 139, 0.6),
               0 0 10px rgba(212, 178, 139, 0.3);
}

/* 🔽 THÊM PHẦN NÀY VÀO CUỐI */
/* App.css hoặc index.css */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1); /* nhạt màu */
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.05);
}

.glitch {
  position: relative;
  color: white;
  font-weight: bold;
  font-size: 4rem;
  letter-spacing: 2px;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  color: white;
  background: transparent;
  overflow: hidden;
  pointer-events: none;
}

.glitch::before {
  color: #a97455;
  z-index: -1;
  animation: glitchTop  2s infinite steps(2, end);
}

.glitch::after {
  color: black;
  z-index: -1;
  animation: glitchBottom 2s infinite steps(2, end);
}

@keyframes glitchTop {
  0% {
    clip: rect(0, 9999px, 0, 0);
    transform: translate(0, 0);
  }
  10% {
    clip: rect(10px, 9999px, 50px, 0);
    transform: translate(-3px, -3px);
  }
  20% {
    clip: rect(85px, 9999px, 140px, 0);
    transform: translate(3px, 2px);
  }
  30% {
    clip: rect(25px, 9999px, 80px, 0);
    transform: translate(-5px, 0);
  }
  100% {
    clip: rect(0, 9999px, 0, 0);
    transform: translate(0, 0);
  }
}

@keyframes glitchBottom {
  0% {
    clip: rect(0, 9999px, 0, 0);
    transform: translate(0, 0);
  }
  10% {
    clip: rect(30px, 9999px, 80px, 0);
    transform: translate(3px, 2px);
  }
  20% {
    clip: rect(65px, 9999px, 120px, 0);
    transform: translate(-3px, -2px);
  }
  30% {
    clip: rect(40px, 9999px, 90px, 0);
    transform: translate(5px, 1px);
  }
  100% {
    clip: rect(0, 9999px, 0, 0);
    transform: translate(0, 0);
  }
}


